.path1{
    fill:$spotigreen;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke:$spotigreen;stroke-opacity:1;stroke-miterlimit:4;
}
.path2{
    fill:$spotigreen;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke:$spotigreen;stroke-opacity:1;stroke-miterlimit:4;
}
.path3{
    fill:$spotigreen;stroke-width:2;stroke-linecap:round;stroke-linejoin:miter;stroke:$spotigreen;stroke-opacity:1;stroke-miterlimit:4;
}