.play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;

    &__path{
    stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1;

    }
}

.stop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
    &__path{
        stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1;
    }
}