.dashboard {
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;


        @media(max-width: 420px){
            display: block;
        }

    }
}