.results{
    &__wrap{
        display: flex;
        gap: 50px;
        margin-bottom: 100px;

        &-fw{
            flex-wrap: wrap;
        }
        
        @media(max-width: 650px){
            &-mobile{
                flex-direction: column;
           
            }
        }
      
    }


    &__card{
        flex: 1;
        &--sm{
            flex: 0 1 25%;
        }
        &--md{
            width: calc((100% / 6) - 50px + (50px / 6));

            @media(max-width: 1650px){
                width: calc((100% / 5) - 50px + (50px / 5));
            }
            @media(max-width: 1350px){
                width: calc((100% / 4) - 50px + (50px / 4));
            }
            @media(max-width: 1050px){
                width: calc((100% / 3) - 50px + (50px / 3));
            }
            @media(max-width: 768px){
                width: calc((100% / 2) - 50px + (50px / 2));
            }
            @media(max-width: 450px){
                width: 100%;
            }
        }
    }
}