.checkbox {
    display: block;
    position: relative;
    margin: 20px 0;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: green;
          }

          &:checked ~ .checkmark:after {
            display: block;
          }
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
      }

      .checkmark:after {
        left: 7px;
        top: 5px;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;

    &:after {
        content: "";
        position: absolute;
        display: none;
      }
  }
  