.search{
    width: 100%;
    margin: 0 0 50px;
    border: 2px solid $spotigreen;
    background-color: transparent;
    color: $white;
    padding: 1rem;
    border-radius: 50px;
    font-family: inherit;
    outline: none;
}